<button (click)="changeObject()">Change Object</button>
<br>
<button (click)="changeObject2()">Change Object Spread</button>
<br>
<button (click)="pushArray()">Change Arr Push</button>
<br>
<button (click)="pushSpreadArray()">Change Arr Spread</button>
<br>
<button (click)="removeArray()">Remove Arr Push</button>
<br>
<button (click)="removeSpreadArray()">Remove Arr Spread</button>
<br>
<button (click)="changeValue()">Change Value</button>
<br>
<button (click)="generateRandom()">Change Observable Value</button>
<br>
<p>
  TitleSubject:
  {{randomObservable | async}}
</p>


<app-save-button color="red" bgColor="blue" (onClick)="btnClick()"></app-save-button>


<app-save-button #save1 color="yellow" bgColor="gray"></app-save-button>

<app-test-on-changes [objInput]="obj" [arrayInput]="arr" [valueInput]="val"></app-test-on-changes>

<router-outlet></router-outlet>