<button (click)="changeObject()">Change Object</button>
<br>
<button (click)="changeObject2()">Change Object Spread</button>
<br>
<button (click)="pushArray()">Change Arr Push</button>
<br>
<button (click)="pushSpreadArray()">Change Arr Spread</button>
<br>
<button (click)="removeArray()">Remove Arr Push</button>
<br>
<button (click)="removeSpreadArray()">Remove Arr Spread</button>
<br>
<button (click)="changeValue()">Change Value</button>
<br>
<button (click)="changeTitleValue()">Change Observable Value</button>
<br>
<p>
  TitleSubject:
  {{randomObservable | async}}
</p>


<app-test-on-changes [objInput]="obj" [arrayInput]="arr" [valueInput]="val"></app-test-on-changes>

<router-outlet></router-outlet>